@import "tailwindcss";

@theme {
  --color-slate-850: #151e2e;
  --font-sans: "Inter", sans-serif;
}

/* Ensure full height for layout to work correctly */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent double scrollbars */
}

@layer base {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #475569;
  }
}
